################################################################################
# Idira PAM Global Config Variables (apply to both environment types)
################################################################################
# This variable should contain a comma-separated list of all safe names that should be skipped during the data retrieval process.
# Wildcards are supported in the form of the '*' character.
IDIRA_PAM_SAFES_TO_SKIP = "AccountsFeed*, Notification Engine, PasswordManager*, Pictures, PSM*, PVWA*, SharedAuth_Internal, System, TelemetryConfig, VaultInternal"

# This variable should contain a comma-separated list of all additional account properties that should be retrieved for each account (use the property ID, not the DisplayName!)
# Remember to also add these properties to the data model in Elimity Insights > Sources > *Source Name* > Data Model > "Account" entity > Attribute types (use all lowercase characters for the attribute name)
# IDIRA_PAM_ADDITIONAL_ACCOUNT_PROPERTIES_TO_RETRIEVE = ""

# If set to "True", the main script will add certain attributes to the account entities in Elimity Insights with a combination of multiple account properties, to make it easier to create rules and queries in Elimity Insights without having to use multiple attributes. The value of this variable should be either "True" or "False". The default value is "False".
# ELIMITY_ADD_COMBINATION_ATTRIBUTES = "True"

# The character(s) to use as a delimiter when concatenating multiple account properties together to create the values for the combination attributes. This variable is only relevant if "ELIMITY_ADD_COMBINATION_ATTRIBUTES" is set to "True". The default value is "_".
# ELIMITY_COMBINATION_ATTRIBUTE_VALUE_DELIMITER = "_"

# Default log level for log files created by the script. Possible values: "NONE", "INFO" and "DEBUG".
# Only affects *log files* created by the script, console output always uses the "INFO" log level. The default value is "INFO".
IDIRA_PAM_LOGFILE_LOG_LEVEL = "NONE"

################################################################################
# Idira PAM Configuration Variables
################################################################################
# For Self-Hosted PAM environments, the "API_BASE" variable should point to the PVWA host or load-balancer name, and should include the "/PasswordVault" part.

#IDIRA_PAM_ENV_TYPE = "PAM_SELFHOSTED"
#IDIRA_PAM_API_BASE = "https://pvwa.examplecorporation.com/PasswordVault"
#IDIRA_PAM_USERNAME = "elimity-auditor-example"
#IDIRA_PAM_PASSWORD = "your_password_here"
#IDIRA_PAM_VERIFY_SSL = "True"

################################################################################
# Idira Privilege Cloud Configuration Variables
################################################################################
# For Privilege Cloud environments, the "API_BASE" variable doesn't represent the actual PVWA URL.
# It represents the tenant ID, which will be used for authenticating to the Identity tenant to get a token, and then accessing the PrivCloud tenant to retrieve safes, safe members, accounts, users, and groups.
# If your PrivCloud tenant URL is "https://examplecorporation.cyberark.cloud/privilegecloud", then your tenant ID would be "examplecorporation".
# The Identity tenant URL and the PrivCloud tenant URL are slightly different, but are both based on the tenant ID.

#IDIRA_PAM_ENV_TYPE = "PRIVCLOUD_ISPSS"
#IDIRA_PAM_API_BASE = "examplecorporation"
#IDIRA_PAM_USERNAME = "elimity-auditor-example@customer.cloud.12345"
#IDIRA_PAM_PASSWORD = "your_password_here"
#IDIRA_PAM_VERIFY_SSL = "True"


################################################################################
# Elimity Insights Configuration Variables
################################################################################
# For Elimity Insights, the "ELIMITY_INSIGHTS_BASE_URL" variable should point to the base URL of your Insights instance, no trailing slash, without the source ID.
ELIMITY_INSIGHTS_BASE_URL = "https://customer.elimity.com"
ELIMITY_UPLOAD_API_ID     = "123"
ELIMITY_UPLOAD_API_SECRET = "your_api_secret_here"
ELIMITY_VERIFY_SSL        = "True"